nav{
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 0.5em;
    border-bottom: lightgray solid;
    opacity: 50%;
    width:25em;
}

img{
    width: 100px;
}